@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.with-bg-pattern {
  position: relative;
  isolation: isolate;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #ffffff 20%, #f0f9ff 100%);
}

.with-bg-pattern::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/hero-bg-pattern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
